@font-face {
    font-family: PoppinsRegular;
    src: url(../font/Poppins-Regular.ttf);
}
@font-face {
    font-family: PoppinsBold;
    src: url(../font/Poppins-Bold.ttf);
}
@font-face {
    font-family: BebasNeueRegular;
    src: url(../font/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: BakbakOneRegular;
    src: url(../font/BakbakOne-Regular.ttf);
}
:root {
    --dark-color: #16181a;
    --background: #0d0e0e;
}
html, body {
    margin: 0;
    overflow-x: hidden;
    background-color: var(--background);
}
.mobile-nav-container {
    display: none;
}
header {
    width: 100%;
    height: 5em;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 9999;
    border-bottom: 0.5px solid var(--dark-color);
    background: var(--background);
}
.logo {
    font-family: BebasNeueRegular, serif;
    font-size: 1.8rem;
    color: #f42735;
    margin-left: 2em;
}
.desktop-nav-container {
    height: 5em;
    display: flex;
    align-items: center;
}
.desktop-nav-container nav {
    position: absolute;
    right: 0;
    background: var(--background);
}
.desktop-nav-container nav ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.desktop-nav-container nav li {
    margin-right: 3.5em;
}
.desktop-nav-container nav a {
    font-family: BebasNeueRegular, serif;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
}
.desktop-nav-container nav a:hover {
    cursor: pointer;
    color: #cf2430;
}
.intro-section {
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.intro-section > .x-marker {
    font-family: PoppinsBold, serif;
    font-size: 33vw;
    color: #131717;
    left: 30px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
@media only screen and (max-width: 950px) {
    header {
        height: 4em;
    }
    .logo {
        margin-left: 1em;
    }
    .desktop-nav-container {
        display: none;
    }
    .mobile-nav-container {
        width: 100vw;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        align-items: center;
        position: fixed;
        bottom: 0;
        border-top: 0.5px solid var(--dark-color);
    }
    .mobile-nav-container nav {
        display: flex;
    }
    .mobile-nav-container nav ul {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .mobile-nav-container nav li {
        margin: 1em;
    }
    .mobile-nav-container nav a {
        font-family: BebasNeueRegular, serif;
        font-size: 0.8rem;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        transition: .3s;
    }
    .mobile-nav-container nav a:hover {
        cursor: pointer;
        color: #cf2430;
    }
    .intro-section > .x-marker {
        font-size: 20rem;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
}