{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <header>
        <h1 class="logo">My Portfolio</h1>
        <div class="desktop-nav-container">
            {{ nav_menu|safe }}
        </div>
        <div class="mobile-nav-container">
            {{ nav_menu|safe }}
        </div>
    </header>
    <section class="introduction">
        <div class="text-container">
            <span class="hello">Hello,</span>
            <span class="i-am">I'm <span class="name">Anshuman Pattnaik</span></span>
            <span class="designation">Software Developer</span>
            <div class="red-divider"></div>
        </div>
        <div class="social-media-container">
                <img src="{% static 'images/github.png' %}" alt="GitHub" title="GitHub"
                     onclick="window.open('https://github.com/anshumanpattnaik/', '_blank')"/>
                <img src="{% static 'images/facebook.png' %}" alt="Facebook" title="Facebook"
                     onclick="window.open('https://www.facebook.com/Hackbot0ne/', '_blank')"/>
                <img src="{% static 'images/twitter.png' %}" alt="Twitter" title="Twitter"
                     onclick="window.open('https://twitter.com/anspattnaik', '_blank')"/>
                <img src="{% static 'images/linkedin.png' %}" alt="Linkedin" title="Linkedin"
                     onclick="window.open('https://www.linkedin.com/in/anshuman123/', '_blank')"/>
                <img src="{% static 'images/instagram.png' %}" alt="Instagram" title="Instagram"
                     onclick="window.open('https://www.instagram.com/anshuman.pattnaik', '_blank')"/>
        </div>
        <div class="button-container">
            <button class="projects">Projects</button>
        </div>
    </section>
</body>
</html>