{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <header>
        <h1 class="logo">My Portfolio</h1>
        <div class="desktop-nav-container">
            {{ nav_menu|safe }}
        </div>
        <div class="mobile-nav-container">
            {{ nav_menu|safe }}
        </div>
    </header>
    <section class="intro-section">
        <span class="x-marker">><</span>
    </section>
</body>
</html>